## Data Science Tools and Ecosystem

**Some of the key takeaways from the course objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Pyton
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Pandas

| Data Science Tools | 
| --------- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
 # This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: 
Leszek